<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Document</title>
</head>
<body>
    <div>

    <h1 style="text-decoration: underline;">Submitted Info</h1>
    
        <p>Name: @ViewBag.name</p>
        <p>Favorite Language: @ViewBag.programlang</p>
        <p>Location: @ViewBag.location</p>
        <p>Comments: @ViewBag.comment</p>
        
        <a href="http://localhost:5000/" class="btn">Return to Homepage</a>

    </div>
</body>
</html>
