/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Style du conteneur principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style du formulaire */
.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style des groupes de champs */
.group {
    margin-bottom: 20px;
}

/* Style des étiquettes des champs */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style des champs de saisie */
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style du bouton de soumission */
.submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #0056b3;
}
.navbar {
    background-color: #444;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ff6347; /* Change to your desired hover color */
}