@model DojoSurveyWithModel.Models.Survey

<h2>Survey Results</h2>
<div>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Location:</strong> @Model.Location</p>
    <p><strong>Favorite Language:</strong> @Model.Language</p>
    <p><strong>Comment:</strong> @Model.Comment</p>
</div>
