<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razor Fun!</title>
</head>
<body>
<h1>Here are some delicious foods!</h1>
@{
        List<string> Foods = new List<string>();
            Foods.Add
        
        foreach(string f in Foods)
        {
            if(f[0] == 'C')
            {
                <p style="color:red;">@f</p>
            } else {
                <p>@f</p>
            }
        }
    }
</body>
</html>