<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/contact.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <span> | </span>
        <a href="/projects">Projects</a>
        <span> | </span>
        <a href="/contact">Contact</a>
    </div>
    <h1 class="center">Contact me</h1>
    <form action="#" class="form">
        <div class="group">
            <label for="Name">Name</label>
            <input type="text">
        </div>
        <div class="group">
            <label for="Email">Email</label>
            <input type="text">
        </div>
        <div class="group">
            <label for="Description">Description</label>
            <input type="text">
        </div>
        <input type="submit" value="Send" class="submit">
    </form>
</body>
</html>